{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCMenuBundle::layout.html.twig" %}
{% extends "OCMenuBundle::layout.html.twig" %}

{% block title %}
  Social
{% endblock %}

{% block ocmenu_body %}

  <h2>Social &</h2>
 
  <p>
    Some social
  </p>

{% endblock %}