{% extends "OCPlatformBundle::layout.html.twig" %}
{% block body %}

<div class="container">

<div class="jumbotron">

  <h2>{{ 'Ajouter une annonce'|trans }}</h2>

  {{ include("OCPlatformBundle:Advert:form2.html.twig") }}

  <p>
   {% trans %}
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
   {% endtrans %}
  </p>

</div>
</div>
{% endblock %}